body {
  font-family: "Raleway", sans-serif;
}
#playArea {
  position:absolute;
  top:0;
  bottom:0;
  width:calc(100vw - (100vw - 100%));
  height:100vh;
  margin:0;
  padding:0;
  overflow:hidden;
  background: linear-gradient(145deg,#0d1221,#2c3184);
  z-index: -1;
}

